### Import libraries

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix
from catboost import CatBoostClassifier

### Step 1: Load Dataset

In [2]:
data = pd.read_csv('train_data.csv')

### Display Top 5 Rows of The Dataset

In [3]:
data.head()

,Region,Area,Branch,Branch Code,Gender,Age,Age Level,Education,Marital Status,house_ownership,...,Expenses,Saving Amount,Monthly_Saving,who_will_earn,Social behavior,Loan Amount,Inst Months,Inst Amnt,Activity,Tax
0,Nowshera,Nowshera,Akora Khattak,14303,M,37,Middle Age (30-45),Matric,Married,Owned,...,"30,000","20,000",At_home,Self,Good,"300,000",60,"6,123",Renovation / Up-gradation,Tax paid
1,Kasur,Pattoki,Manga Mandi,1721,F,40,Middle Age (30-45),Illiterate,Married,Rented,...,"39,000","11,000",No_saving,Self,Good,"500,000",60,"10,204",New Construction,Tax not paid
2,Mianwali,Quidabad,Chak No 8,3409,M,37,Middle Age (30-45),Intermediate,Married,Owned,...,"22,500","9,500",At_home,Self,Good,"500,000",60,"10,204",New Construction,Tax paid
3,Bahawalnagar,Chishtian,Dahranwala,212,M,40,Middle Age (30-45),Illiterate,Married,Rented,...,"19,500","3,500",No_saving,Other,Good,"350,000",60,"7,143",New Construction,Tax paid
4,Multan,Rasheed Abad,Farooq Pura,2220,M,49,Older (46-Above),Matric,Married,Owned,...,"30,000","20,000",At_home,Self,Good,"500,000",60,"10,204",New Construction,Tax paid

### Check Last 5 Rows of The Dataset

In [4]:
data.tail()

,Region,Area,Branch,Branch Code,Gender,Age,Age Level,Education,Marital Status,house_ownership,...,Expenses,Saving Amount,Monthly_Saving,who_will_earn,Social behavior,Loan Amount,Inst Months,Inst Amnt,Activity,Tax
33261,Bahawalnagar,Bahawalnagar,Macleod Ganj,210,F,43,Middle Age (30-45),Illiterate,Widower,Rented,...,"29,000","16,000",At_home,Self,Good,"500,000",60,"10,204",New Construction,Tax paid
33262,Kasur,Theeng More,Landay,1823,F,31,Middle Age (30-45),Masters,Married,Owned,...,"22,000","20,000",At_home,Self,Good,"400,000",60,"8,163",New Construction,Tax not paid
33263,Attock,Fateh Jang,Qutbal,2817,M,28,Young (19-29),Primary,Single,Rented,...,"26,000","24,000",At_home,Self,Good,"500,000",60,"10,204",New Construction,Tax not paid
33264,FATA,Bajaur,Khar,8101,M,37,Middle Age (30-45),Middle,Married,Owned,...,"23,500","28,000",Bank_saving,Self,Good,"500,000",60,"10,204",New Construction,Tax paid
33265,Sahiwal,Mian Channu,Chichawatni,2603,M,33,Middle Age (30-45),Intermediate,Married,Rented,...,"26,000","22,000",At_home,Self,Very_Bad,"800,000",60,"16,327",New Construction,Tax paid

### Find Shape of Our Dataset (Number of Rows And Number of Columns)

In [5]:
data.shape

(33266, 24)

In [6]:
print("Number of Rows",data.shape[0])
print("Number of Columns",data.shape[1])

Number of Rows 33266
Number of Columns 24

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33266 entries, 0 to 33265
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Region                33266 non-null  object
 1   Area                  33266 non-null  object
 2   Branch                33266 non-null  object
 3   Branch Code           33266 non-null  int64
 4   Gender                33266 non-null  object
 5   Age                   33266 non-null  int64
 6   Age Level             33266 non-null  object
 7   Education             33266 non-null  object
 8   Marital Status        33266 non-null  object
 9   house_ownership       33266 non-null  object
 10  total_family_members  33266 non-null  int64
 11  no_of_earning_hands   33266 non-null  int64
 12  Source of Incom       33266 non-null  object
 13  Incom                 33266 non-null  object
 14  Expenses              33266 non-null  object
 15  Saving Amount         33266 non-null  object
 16  Monthly_Saving        33266 non-null  object
 17  who_will_earn         33266 non-null  object
 18  Social behavior       33266 non-null  object
 19  Loan Amount           33266 non-null  object
 20  Inst Months           33266 non-null  int64
 21  Inst Amnt             33266 non-null  object
 22  Activity              33266 non-null  object
 23  Tax                   33266 non-null  object
dtypes: int64(5), object(19)
memory usage: 6.1+ MB

### Check Null Values In The Dataset

In [8]:
data.isnull().sum()

Region                  0
Area                    0
Branch                  0
Branch Code             0
Gender                  0
Age                     0
Age Level               0
Education               0
Marital Status          0
house_ownership         0
total_family_members    0
no_of_earning_hands     0
Source of Incom         0
Incom                   0
Expenses                0
Saving Amount           0
Monthly_Saving          0
who_will_earn           0
Social behavior         0
Loan Amount             0
Inst Months             0
Inst Amnt               0
Activity                0
Tax                     0
dtype: int64

In [9]:
data['Region'].unique()

array(['Nowshera', 'Kasur', 'Mianwali', 'Bahawalnagar', 'Multan',
       'Sargodha', 'Chakwal', 'AJ&K', 'Bahawalpur', 'Abbottabad',
       'Sukkur', 'Karachi', 'DG Khan', 'Quetta', 'Gujranwala', 'FATA',
       'Kohat', 'Faisalabad', 'Jhang', 'Sheikhupura', 'Attock',
       'Rawalpindi', 'Jhelum', 'Lahore', 'Gilgit Baltistan', 'Sahiwal'],
      dtype=object)

In [10]:
data['Area'].unique()

array(['Nowshera', 'Pattoki', 'Quidabad', 'Chishtian', 'Rasheed Abad',
       'Mianwali', 'Jahanian', 'Sargodha', 'Talagang', 'Abbaspur',
       'Lodhran(Bahawalpur2)', 'Abbottabad', 'Kot Momin', 'Hyderabad',
       'Korangi', 'Muzaffarabad', 'Alipur', 'Quetta', 'Multan',
       'D.G Khan', 'Rawalakot', 'Theeng More', 'Sialkot', 'Mohmand',
       'Bhakkar', 'Jhelum Valley', 'Kohat', 'Mansehra', 'Swabi',
       'Faisalabad', 'Rajana', 'Battagram', 'Chitral', 'Jhang', 'Karachi',
       'Khuzdar', 'Pichnand', 'Kamoke', 'Toba Tek Singh', 'Bahawalnagar',
       'Narowal', 'Jand', 'Rahim yar Khan', 'Hafizabad', 'Bahawalpur',
       'Tench Bhata', 'Bhera', 'Sukkur', 'Mandi Bahauddin', 'Gareebabad',
       'Thokar', 'Kasur', 'Ghizer', 'Sangla Hill', 'Okara', 'Gujrat',
       'Kala Bagh', 'Rajanpur', 'Kotli', 'Samundari', 'Peshawar',
       'Bajaur', 'Pind Dadan Khan', 'Rangeel Pur', 'Thatha', 'Nishtar',
       'Salamatpura', 'Vehari', 'Chiniot', 'Jacob Abad', 'Mian Channu',
       'Gujranwala', 'Mardan', 'Kurrum', 'Bannu', 'Attock', 'Sahiwal',
       'Gilgit', 'Mirpur', 'Taxila', 'Mingora', 'Rawalpindi',
       'Peer Phulai', 'Shangla', 'Loralai', 'Burewala', 'Jhelum',
       'Khyber', 'Kot Abdul Malik', 'Madhulal', 'Chakwal', 'Nushki',
       'Muzaffargarh', 'Khushab', 'Shorkot', 'Layyah', 'Hunza Nagar',
       'D.I. Khan', 'Muridke', 'Saddar', 'Ghanche', 'Data sahib',
       'Sodiwal', 'Tank', 'Lasbela', 'Rohri', 'Skardu', 'Fateh Jang',
       'Islamabad', 'Danyor', 'Kallar Kahar', 'Taunsa Sharif', 'Khanpur',
       'Sujawal', 'Gwadar', 'Diamer'], dtype=object)

In [11]:
data['Branch'].unique()

array(['Akora Khattak', 'Manga Mandi', 'Chak No 8', 'Dahranwala',
       'Farooq Pura', 'Mianwali-1', 'Dunyapur', 'Sargodha-2',
       'Jhatla / Chinji', 'Haroonabad-1', 'Baloch', 'Lodhran', 'Havelian',
       'Moazzam Abad', 'Digri', 'Shireen Jinnah', 'Muzaffarabad-2',
       'Shaher Sultan', 'Nawan Killi', 'Shuja Abad', 'D.G Khan-1',
       'Khai Gala', 'Rati Pindi', 'Daska', 'Yaka Ghund', 'Mankera',
       'Dhirkot', 'Kalaya', 'Mansehra-1', 'Chunian', 'Shewa',
       'Canal Road Faisalabad', 'Hajji Chand', 'Pir Mahal', 'Battagram',
       'Drosh', 'Athara Hazari', 'Baldia Town', 'Mastung', 'Wanhar',
       'Harnoli', 'Muridke', 'Toba Tek Singh', 'Dunga Bunga', 'Pasrur-1',
       'Kot Momin', 'Ikhlas', 'Dhudhi Wala', 'Changa Manga',
       'Sadiq Abad-1', 'Kot Chajji', 'Hafizabad', 'Qadirpur Ran',
       'Yazman Mandi', 'Bahawalnagar-3', 'Garhi Dupatta', 'Tench Bhata',
       'Miani', 'Sukkur-1', 'Gojra-Mandi', 'Sardar Market', 'Dhamthal',
       'Sher Shah Colony', 'Bahawalnagar-1', 'Samanabad', 'Khairpur-1',
       'Nurpur naher', 'Kahror Pakka', 'Gahkuch', 'Safdar Abad',
       'Bunga Hayat', 'Lalamusa', 'Paki Shah Mardan',
       'Danda Shah Bilawal', 'Rajanpur', 'Kotli', 'Kasur-1',
       'Bhittai Colony', 'Pishin', 'Pallandri', 'Theeng More-2',
       'Panjgrain', 'Kinjwani', 'Green Town', 'Patikka', 'Faqeerabad',
       'Rahgan', 'Dharyala Jalap', 'Muzafarabad- Multan',
       'Bank Colony Chakri Road', 'Gharo', 'Mitha Tiwana', 'Sadhoke',
       'Bahawalpur-3', 'Arzani Pur', 'Kahna Nau', 'Muzaffarabad',
       'Kallur Kot', 'Nawabpura', 'Domail', 'Bhera', 'Chishtian-2',
       'Trag', 'Mandi Usman Wala', 'Jajjal', 'Maula Pur', 'Vehari',
       'Pinanwal', 'Ugoke', 'Pindi Bhattian', 'Bedian Road', 'Jacob Abad',
       'Dir', 'Kheshgi', 'Abdul Hakeem', 'Bahawalpur Bypass', 'Talwandi',
       'Phalia', 'Gujranwala-1', 'Risalpur', 'Thatha', 'Charsadda',
       'Parachinar', 'Khairpur Tamiwali', 'Bannu-2', 'Sher Shah',
       'Raja Pur', 'Attock-4', 'Babu Wala', 'Hajira', 'Chak Jalal Din',
       'Sahiwal-1', 'Saryab Road', 'Balakot', 'Kabirwala', 'Jutial',
       'Ghazi', 'Attock-1', 'Renala Khurd', 'Sahiwal (Distt Sargodha)',
       'Barnala', 'Hassan Abdal(Sultanpur)', 'Chakdara', 'Arya Mohallah',
       'Takht Bhai', 'Piplan', 'Pasrur-2', 'Lawa', 'Madyan',
       'Mulhal mughlan', 'Jhang-1(Bhakkar Road)', 'Tangi', 'Alpuri',
       'Mithial', 'Pindi Saidpur', 'Kot Addu', 'Manawan', 'Nothia',
       'Muslim Bagh', 'Pattoki-1', 'Head Faqirian', 'Chitral', 'Khar',
       'Burewala', 'Mandi Bahauddin', 'Jampur-2', 'Dina', 'Bijaar',
       'Harighel', 'Ghulam Muhammad Abad', 'Darlian Jattan', 'Mansehra-2',
       'Bahawalpur-1', 'Kamoke-2', 'Landi kotal', 'Dera Bakha', 'Okara',
       'Haripur', 'Mana Wala', 'Sikander Pura', 'Wassan pura', 'Bheen',
       'Saddique Abad', 'Lodhran (Agri)', 'Satellite Town (Quetta)',
       'Peoples Colony', 'Muzaffargarh', 'Badin', 'Landhi Town',
       'Chota Manawala', 'Madhu Lal Hussain', 'Gujranwala-2',
       'Mumtazabad', 'Shahpur-2', 'Kala Gujran', 'Shorkot',
       'Abbottabad-2', 'Shinkiari', 'Fateh Pur Rural', 'Khudian',
       'More Khunda-2', 'Dhoke Ratta', 'Narowal', 'Ali Abad',
       'Perro Khail', 'Sibi', 'Kamar Mushani', 'D.I. Khan-2', 'Qazafi',
       'Raja Jang', 'Khanewal', 'Walton', 'Minchinabad', 'Hassan Abdal',
       'Chota Lahore', 'Theing Mor', 'Par Hoti', 'Sharqpur',
       'Mamu Kanjan', 'Ahmedpur Sharqia-1', 'Talagang', 'Nishat Abad',
       'Jhari Kas', 'Dheri Hasan Abad', 'Taxila', 'Pul Wasal Chungi # 1',
       'Kot Abdul Malik-2', 'Painsra', 'Garhi Habibullah', 'Lyari',
       'Pichnand', 'Akhtar Colony', 'Babar Mela', 'Hattian Bala', 'Bara',
       'Qila Ahmed Abad', 'Bhalwal-1', 'Jaranwala', 'Bandian Wala Pul',
       'Ghawari', 'Layyah-2', 'Wazirabad', 'Kamoke-Agri', 'Isa Khel',
       'Pakpattan', 'Topi', 'Sarai Sala', 'Tando Jan Muhammad', 'Gilgit',
       'Nain Sukh', 'Okara-3', 'Mang', 'Ferozewala', 'Sialkot',
       'Multan-1', 'Dinga', 'Multan Chungi', 'Gujrat-1', 'Gaggo Mandi',
       'Mullan Mansoor', 'Garh More', 'Tank-2', 'Badiana',
       'Ali Pur Chatha', 'Kot Abdul Malik', 'Bela', 'Habibabad',
       'Rodu Sultan', 'Gulshan Iqbal', 'Depalpur Agri', 'Landay', 'Rohri',
       'Rahim Yar Khan', 'Jalalpur Jattan', 'Khanpur Road (Taxila)',
       'Hasilpur', 'Bagh', 'Chak Madressa', 'Fazilpur', 'Kamalia',
       'Mansehra-3', 'Shigar', 'Abbaspur', 'Sillanwali', 'Phalore',
       'Chowk Azam Rural', 'Mian Channu', 'Ali Pur-1', 'Loralai-2',
       'Haider Chowk', 'Sukkur-2', 'Chak 98 Fateh', 'Lakki Marwat',
       'Abbottabad', 'Nara', 'Ali Town', 'Data Sahib',
       'College Road Jhang', 'Bawa Chak', 'Qasim Bela', 'Peshawar',
       'Khuiratta', 'Bhakkar-1', 'Loralai', 'Paharh Pur',
       'Chungi # 14 Multan-5', 'Bhakkar-2', 'Zafarwal', 'D.G Khan-2',
       'Shahdara-2', 'Pano Aqil', 'Kot Radha Kishan-1', 'Emit', 'Baseera',
       'Khwazakhela', 'Bhard Wall', 'Saudabad Malir', 'Shahdara',
       'Jehangira', 'Haveli Lakha', 'Khiali bypass', 'Naseerabad',
       'Kharian', 'Qambar Khail', 'Ghotki', 'Mahar Sharif', 'Pindigheb',
       'Saghar', 'Jhal Jaranwala', 'Alam Chowk', 'Tulamba', 'Nawagai',
       'Kohat', 'Chaklala', 'Ranial', 'Jhang Road(FSD)', 'Danyor',
       'Amar Pura', 'Mianwali-2', 'Landi Kotal-2', 'Lak Mor', 'Dhurnal',
       'Lawrencepur', 'Bhaun', 'Lalian', 'Jhang city',
       'Hujra Shah Muqeem', 'Hariya', 'Kartarpur', 'Swabi', 'Chakar',
       'Jampur-1', 'Layyah', 'Haroonabad-2', 'Taunsa Sharif-2',
       'Mandi Bahauddin-3', 'Mirpur', 'Uthal', 'Burj Attari', 'Multan-3',
       'Orangi Town', 'Mosa Khail', 'Sarsawa', 'Qutbal', 'Sanda',
       'Nowshera Kalan', 'Mardan', 'Sehnsa', 'Sadhar', 'Jaglot', 'Bara-2',
       'Gamba', 'Chot Dheeran', 'Oghi', 'Tamman', 'Daulat Nagar', 'Matli',
       'Jatlan', 'Sarai Alamgir', 'Bhubhar', 'Nagar', 'Pabbi',
       'Kanganpur', 'Jhang Village', 'Kazmi Chowk', 'Liaqat Pur Agri',
       'Jhelum', 'Qasim Pur (BCG Chowk)', 'Samundri\xa0Road(FSD)',
       'Bhimber', 'Rahim Yar Khan-2', 'Kotla Jam', 'Kot Sarang',
       'Rajanpur-2', 'Bahawalnagar-2', 'Pariyal', 'Baka Khel', 'Samundri',
       'Murree', 'Pind Bhagwal', 'Chakwal', 'Khurian Wala',
       'Pind Dadan Khan', 'Basti', 'Kala Shah Kaku', 'Tarar Khal',
       'Qila Didar Singh', 'Sheikhupura', 'Farooqa (Agri)',
       'Mandi Gundhab', 'Uch Sharif-2', 'Taxila-2', 'Rajana',
       '5 Chak Bara', 'Kallar Kahar', 'Kot Chutta', 'Nomal',
       'Tando Muhammad Khan', 'Chowk Azam', 'Shahpur', 'Chak Jhumra',
       'Sambrial', 'Sadhar (Agri)', 'Mithi', 'Inayat Kalay',
       'Jhang-2(Satellite town)', 'Chatorkhand', 'Islam Nagar',
       'Balkasar', 'Safi', 'Bucheki-2', 'Uch Sharif', 'Nowshera',
       'Skardu', 'Shah Kot', 'Chowk Kumharan Wala', 'Kalabagh',
       'Chehla Bandi', 'Depalpur', 'Macleod Ganj', 'Jahanian', 'Jatoi',
       'Gharibabad', 'Mianwali Bangla', 'Khanqah Sharif', 'Mailsi',
       'Sujawal', 'Chowk Pindori', 'Qaida Abad', 'Ali Pur-2',
       'Liaqat Pur', 'Raiwind', 'Sanawan', 'More Khunda', 'Chichawatni',
       'Tando Allah yar', '88 Phatak', 'Ghulam Jan Market', 'Chishtian-3',
       'Nakyal', 'Zhob', 'Athmuqam', 'Jhang Saddar', 'Ayun',
       'Minchinabad-2', 'Phularwan', 'Ahmadpur Sial', 'Khan Pur-1',
       'Jand-1', 'Kotha Kalan', 'Zaida', 'Baghbanpura', 'Painsra (Agri)',
       'Thokar Niaz Baig', 'Baffa', 'Dajal', 'Warburton', 'Rasheed Abad',
       'Machiwal', 'Kunri', 'Kameer Wala', 'Tandlianwala', 'Sialkot-2',
       'Rohilanwali', 'Chowk Karamdad Qureshi', 'Vehari-2', 'Chak No.29',
       'Rangeel Pur', 'Harappa', 'Karor Lal Esan', 'Mangowal', 'Kundian',
       'Kareem Pura', 'Peer Phulai', 'Multan-2', 'Multan Khurd',
       'Malakwal', 'Hujjan', 'Kasur-2', 'Miani (Kallar Kahar)', 'Kadhar',
       'Sargodha-1', 'Factory Area', 'Rana Town', 'Mandi Faizabad',
       'Kamoke-1', 'Dhanote', 'Islamabad-1', 'Bari Imam', 'Fateh Jang-2',
       'Kasur-3', 'Harya wala', 'Mureed Wala', 'Brewery Road', 'Jhelum-2',
       'Fateh Jang', 'Thorar', 'Attock-2', 'Kacha Khuh', 'Shakargarh',
       'Tordher', 'Haveli Bahadur Shah', 'Hazro', 'Salamatpura',
       'Nawabpur', 'Islamabad-2 (Golra)', 'Jamrud', 'Bosal',
       'Sadiqabad-3', '49 Tail(Agri)', 'Singul', 'Wan Miana',
       'Taunsa Sharif', 'Township', 'Mustafa Abad', 'Basti Khudadad',
       'Khangarh', 'Mirpur Mathelo', 'Gojra', 'New Karachi', 'Mehdi Abad',
       'Pakpattan-2', 'Arifwala', 'Sadiq Abad-2', 'Ghurki Hospital',
       'Thatha Khalil', 'Quetta', 'Faqir Wali', 'Darya Khan',
       'Mandi Bahauddin-2', 'Shikyote', 'Jauharabad', 'Tariq Abad',
       'Hall Road', 'Kuthiala Sheikhan', 'Kot Sultan', 'Yasin',
       'Noor Kot', 'Mooch', 'Pashut', 'Domail (Bannu)', 'Bagrian',
       'Kotli Peer Abdul Rehman', 'Punwa', 'Jahan Khan Agri',
       'Sangla Hill', 'Okara-2', 'Chakri', 'Haveli', 'Kasur-4', 'Sust',
       'Hathi Wind', 'Charhoi', 'Oshikhandass', 'Qasba Gujrat',
       'Susan Road', 'Karimabad', 'Khanpur', 'Behal', 'Adyala Road',
       'Sahiwal-2', 'Chowki Bhagat', 'Choa Saidan Shah', 'Khairpur-2',
       'Satellite Town', 'Ghakhar Mandi', 'Hardo Muhammad Ky',
       'Kotla Mughlan', 'Narang Mandi', 'Kahuta-1', 'Chiniot-2',
       'Sadar Cantt', 'Jhatta Hathial', 'Shabqadar', 'Burewala-2',
       'Chishtian-1', 'Thana', 'Makkuana', 'Chung', 'Jand-2',
       'Mirpur Khas', 'Attock-5', '79 Adda (Agri)', 'Shergarh',
       'Sharif Pura', 'Allai', 'Mingora', 'Sham Kot', 'Gulmit', 'Kalaske',
       'Jalal Pur Pir Wala', 'Adhi kot', 'Fateh Pur', 'Kunjah', 'Thol',
       'F.R D.I. Khan', 'Khushab', 'Kahna Nau-2', 'Gupis', 'Hasilpur-2',
       'Mangwal', 'Killa Saifullah', 'Basir Pur', 'Talagang-2', 'Sanghoi',
       'Daroghawala', 'Gwadar', 'Sehgal Abad', 'Sillanwali (Agri)',
       'Dahab', 'Zafar Abad', 'Jhawarian', 'Rawalakot', 'Raja Bazar',
       'Bhagwal', 'Bakhshu Pull', 'Jhang Bahtar', 'Rahim Yar Khan-4',
       'Ahmad Pur Lamma', 'Kot Mithan-Urban', 'Malhowali', 'Kuza Banda',
       'Midh Ranjha', 'Dhok Amb', 'Murtazabad', 'Naya Lahore',
       'Mana Ahamadani', 'Booni', 'Barnala (Agri)', 'Saddar Town',
       'Umerkot', 'Shah Jamal', 'Karyala', 'Sadda', 'Sandhilianwali',
       'Trati', 'Samahni', 'Mouza Bagh', 'Tibba Badar Sher',
       'Kot Mithan-Rural', 'Rahwali Cantt', 'Gulyana', 'Bhawana',
       'Bhoa Hassan', 'Khan Pur (Agri)', 'Bucheki', 'Kot Radha Kishan-2',
       'Muhammad Pur', 'Dhudial', 'Maila', 'Kot Khawaja Saeed',
       'Chanderay Road', 'Kot Roshan Din', 'Katlang', 'Hub',
       'Shorkot Cantt', 'Khaur', 'Kot Chandna', 'Astor', 'Chouhar Jamali',
       'Hari chand', 'Gondal', 'Misrial', 'Bannu-1', 'Besham', 'Bagan',
       'Barikot', 'Ranipur', 'Qaboola Sharif', 'Leather', 'Sauwal',
       'Sodiwal Samanabad', 'Kamra', 'Pai khel', 'Badar Colony', 'Jaffar',
       'Kangniwala', 'Tibba Sultan Pur', 'Mirpur Bathoro', 'Sharda',
       'Wan Bhachran (Agri)', 'Adhwal', 'Bahawalpur-2', 'Chak 105',
       'Jattatar', 'Sateen', 'Barkolti', 'Sardheri', 'Bhalwal-2',
       'Chilas', 'Qaddafi Chowk', 'Khunda', 'Jabbi',
       'Siddique Abad Phatak', 'Zakariya Town', 'Chak Chatha (Agri)',
       'Khaplu', 'Hujra Shah Muqeem-2', 'Budhla Sant', 'Nokhar',
       'Minhala', 'Chak Jhumra (Agriculture)', 'Tanda', 'Darro', 'Karora',
       'Yateem Khana', 'Kot Samaba', 'Chalt', 'Makhdoom Rashid', 'Jati',
       'Fort Abas', 'Garhi kapura', 'Baseen', 'Kassowal', 'Thakot',
       'Farooqabad', 'Head office Branch', 'Badami Bagh', 'Jodia Bazar',
       'Bahawalpur Agriculture', 'Dehli Gate', 'Chakswari', 'Dalelpur',
       'Ghulam Muhammad Wala', 'Pattoki-2', 'Skardu-2', 'Duki',
       'Malka Hans', 'Attock Agri', 'Khanpur Bagga Sher', 'Young Pur',
       'Thagas', 'Nankana-2', 'Jhugian Nagra', 'Notak', 'Dijkot',
       'Barthi', 'Nai Khanqah', 'Hyderabad', 'Ghotaro', 'Garha More',
       'Feroze Wattwan', 'Timergara', 'Akbarpura', 'Jamke Cheema',
       'Tarinda Saway Khan', 'Chak Bhoun/Balkassar', 'Depalpur-2',
       'Raza Abad', 'Paniola', 'Zahir Pir', 'Kamalpur Musa', 'Bili Tang',
       'Leepa', 'Nihang', 'Sargodha-3', 'Firdous Market', 'Dhar Bazar',
       'Nathia Gali', 'Nankana Sahib', 'Rajjar', 'Ghazi Abad',
       'Jalalpur Sharif', 'Khidar Wala (Agri)', 'Chak Beli Khan',
       'Haji Camp', 'Tobah', 'Toru', 'Dadyal', 'Khewra', 'Iqbal Abad',
       'Darman', 'Dhori Adda', 'Trinda Sway Khan-2', 'Air Port',
       'Badar Colony-2', 'Adda Dad Fatiana', 'Lala Zaar', 'Aka Khel',
       'Mohsinwal', 'Begum kot', 'Tank', 'Darapur'], dtype=object)

In [12]:
data['Branch Code'].unique()

array([14303,  1721,  3409,   212,  2220,  3501,  2402,  3204,  2914,
         204, 50504,  2401, 12404,  3213, 34202, 35106, 50202,   611,
        5102,  2206,   401, 50605,  1827,  1601,  8202,  3304, 50402,
        8501, 12201,  1801, 13204,   840,  6414,  1004, 12301, 11102,
         905, 35111, 47501,  2931,  3520,  1103,  1002,   206,  1603,
        3209,  2829,   824,  1803,   302,  2832,  1301,  2208,   106,
         213, 50203,  3102,  3201,  5001,  1410,  3140,  1504,  1744,
         202,   814, 32301,  1820,  2404, 51201,  2107,  2505,  1203,
        3519,  2930,   702, 50901,  1806, 35102, 45301, 50501,  1819,
        3308,   812,  1709, 50205, 14203,  8105,  3015,  2207,  3118,
       33802,  3405,  1115,   103,  1825,  1725, 50201,  3306,  1736,
        2814,  3206,   208,  3516,  1828,  1821,  1826,  2701,  3010,
        1608,  1302,  1719, 31101, 11201, 14311,  2306,  2217,  1818,
        1405,  1101, 14306, 33801, 14101,  8401,   110, 16102, 35104,
        2209,  2803,   835, 50602,  3117,  2601, 45106, 12207,  2305,
       51103, 12501,  2801,  6403,  3212, 50702,  2813, 11702,  3101,
       13102,  3506,  1606,  2926, 11404,  2921,   903, 14104, 11503,
        2833,  3016,   603,  1749, 14204, 48102,  1804,  1409, 11101,
        8101,  2704,  1404,   705,  3003,  3406, 50403,   802, 50906,
       12202,   101,  1110,  8301,   111,  6401, 12402,  1908,  1832,
        1712,  2922,  2902,  2405,  5103,  1113,   602, 33701, 35110,
         825,  1707,  1102, 51002,  3223,  3008,   906, 12405, 12208,
         511,  1811,  1914,  3106,  1501, 51801,  8307, 46501,  3513,
       17203,  8106,  1815,  2302,  1706,   205,  2804, 13202,  1807,
       13103,  2104,   828,   104,  2904,   816,  2835,  3103,  3112,
        2213,  2112,   826, 12204, 35105,  2927, 35101,  8502, 51701,
        8303,  1505,  3205,   809,  1746, 51302,   506,  1114,  1116,
        3512,  2501, 13201, 12502, 34203, 51101,  1711,  6411, 50502,
        2111,  1602,  2202,  1209,  1740,  1201,  2707,  2819,   909,
       17204,  1610,  1121,  1733,  4801,  1813,   913,   310,  6413,
        1823, 32103,   301,  1204,  3143,   105, 50401,   201,   704,
        1005, 12205, 51403, 50603,  3208,  1010,   510,  2304,   608,
       45702,  2834,  5002,   217, 16201, 12403,  2815,  2216,  1705,
         907,   819,  2222, 14201, 50903,  3301, 45701, 17209,  2204,
        3302,  1503,   402,  2110, 32104,  1805, 51207,   604, 11403,
        1831, 35108,  2105, 14304,  6404,  1106,  3107,  1207,  8306,
       32202,   218,  2807,  2924,   830,  1112,  2303,  8103, 15101,
        3127,  3133,   807, 51102,  3124,  3502,  8304,  3228,  2826,
        2823,  2905,  3604,   901,  6406,  1407,   829, 13203, 51702,
         703,   501,   215,   408,  1415,  5081,  4802,  2113,  2203,
       35107,  3505, 50907,  2817,  1745, 14301, 13101, 50902,   821,
       51105,  8305, 51402,  1403, 12206,  2929,  1211, 33702,  5084,
        1208,  2923, 51802, 14305,  1812,  2836,   507,   312,  3002,
        2218,   808, 50701,   305,  3310,  2925,   712,   209,  3120,
       16104,   803,  3109,  3145,  2901,   815,  3005,  2811,  1108,
       50503,  1109,  2102,  3219,  8201,   115,  3119,  1001,  1910,
        2910,   404, 51106, 33501,   504,  3207,   810,  1607,   832,
       34401,  8102,   904, 51203,   813,  2906,  8203,  1913,   108,
        3404, 51401,  1903,  2205,  3511, 50206,  6402,   210,  2301,
         610,  3104,  1612,   107,  2703, 35201,  3128,  3402,   609,
         303,  1723,   601,  1906,  2603, 33401,  1012,  8404,   214,
       50905, 46201, 50204,   902, 11103,   216,  3210,   908,   304,
        2810,  1822, 13206,  1117,   833,  1720, 12203,   707,  1907,
        2210,  2709, 34302,  2611,   811,  1609,   615,   614,  2706,
        2310,  2219,  2605,   502,  1206,  3504, 14202,  2932,  2201,
        2928,  1402,  3227,  1809,  2909,  1414,  3203,   817,  2118,
        2106,  1105,  2406,  3115,  3134,  2824,  1814,  1210,   827,
       45105,  3007,  2806, 50604,  2805,  2309,  1502, 13205,   911,
        2802,  1722,  2223,  3116,  8302,  1416,   315,  3218, 51202,
        3202,   406,  1702,  1810,  2221,   605, 32201,  1003, 35103,
       52101,  2504,  2502,   306,  1750,  3141,  5101,   211,  3305,
        1408, 51108,  3403,   804,  1716,  1406,   505, 51205,  1508,
        3514,  8104, 16103,  1728,  1708,  1909,  3309,  1901,  6405,
        3114, 51001,  1830, 51807,  3225, 50904, 51104,   607,   806,
       51803,  2908,  3311,  3121,  2602,  3222,  2903, 32302,  3105,
        1107,  1829,   708,  2109,  3122,  3602,  1734,  3139, 14103,
        2705,   203, 11701,   823,  1729,  2828, 34201,  2818,   831,
       13108,  1739, 12304, 11401,  1824, 51806,  1122,  2214,  3408,
         503,  1205, 51805, 17202,  3401,  1741, 51204,   116,  2918,
       46101,  6410,  2913,  3012,  1713, 48201,  2911,  3220,  2919,
       17205,  3214, 50601,  3135,  2912, 14205,  2812,   313,   316,
         701,  2830, 12302,  3226,  3136, 51804,  1007,   710, 11104,
         837, 35109, 34301,  1703,  2915,  8402,  1008,  3137, 50703,
         910,   113,   706,  1119,  1212,  3603,  1417,   407,  1905,
        1816,   709,  2907,  3224,  1726,  1747,  2108, 13104,  4803,
         912,  2816,  3515, 51601, 35205, 14102,  2809,  3126, 16101,
       11501,  8403, 11402, 32304,  2506,  1413,  3001,  1710,  2822,
        3518,  1715,  2825,  1124,  2710, 35203, 50301,  3507,  3132,
         102,   838, 17207,  8405, 51206, 14106,  3211, 51501, 35114,
        2827,  3410,  8107,  2211,  1304, 51301,  6412,  2224,  1123,
        1751,   818,  1216, 35206, 11502,  1735,   307, 51901,  2215,
       35204,   207, 13105, 51107,  2610, 12303,  2103,  1701,  1727,
       35113,   112,  1748,  5083,  2917,  2212,  1817, 51404, 48801,
        2503,  2808,   606,  6409, 51303,  1912,  1755,  3307,   801,
         409,  3013, 33301, 35202,  2708,  2114, 11301, 14309,  1605,
         311,  2920,  6407,   805, 50606,   308,  2820, 15104, 51703,
        3221,  3217,  1714, 50607, 12401,  1902, 14105,  2608,  3009,
         836,  3131, 35112,  3011, 13106,  5082,  3006,   317,  1506,
         509,   314,  1738,  1731,  2609,   508,  8308,  2312,  1756,
       17201,  3017])

In [13]:
data['Education'].unique()

array(['Matric', 'Illiterate', 'Intermediate', 'Primary', 'Bachelor',
       'Masters', 'Middle', 'Mphil', 'Phd'], dtype=object)

In [14]:
data['Age'].unique()

array([37, 40, 49, 47, 45, 42, 52, 44, 33, 35, 20, 39, 46, 28, 50, 53, 48,
       34, 24, 51, 36, 54, 56, 23, 31, 59, 55, 27, 29, 41, 38, 57, 21, 32,
       26, 25, 43, 58, 30, 22, 60, 19, 61])

In [15]:
data['Gender'].unique()

array(['M', 'F'], dtype=object)

In [16]:
data['Inst Months'].unique()

array([60, 48, 36, 30, 54, 42, 24, 12, 21])

In [17]:
data['Loan Amount'].unique()

array(['300,000', '500,000', '350,000', '750,000', '800,000', '700,000',
       '1,000,000', '375,000', '400,000', '600,000', '450,000', '900,000',
       '460,000', '475,000', '420,000', '470,000', '330,000', '250,000',
       '640,000', '480,000', '490,000', '430,000', '485,000', '200,000',
       '440,000', '650,000', '280,000', '550,000', '395,000', '150,000',
       '380,000', '320,000', '670,000', '425,000', '438,000', '685,000',
       '410,000', '340,000', '396,000', '283,500', '240,000', '100,000',
       '850,000', '680,000', '225,000', '175,000', '245,000', '476,636',
       '390,000', '125,000', '710,000', '366,000', '285,000', '476,396',
       '476,000', '275,000', '415,000', '205,000', '494,000', '434,500',
       '310,000', '220,000', '435,500', '230,000', '465,000', '370,000',
       '298,000', '675,000', '360,000', '434,000', '120,000', '630,000',
       '338,000', '421,500', '187,500', '875,000', '491,244', '448,000',
       '385,000', '325,000', '422,000', '498,690', '210,000', '445,000',
       '270,000', '435,000', '295,000', '237,996'], dtype=object)

In [18]:
data['Marital Status'].unique()

array(['Married', 'Single', 'Widow', 'Divorced', 'Widower'], dtype=object)

In [19]:
data['Saving Amount'].unique()

array(['20,000', '11,000', '9,500', '3,500', '15,000', '13,500', '45,000',
       '12,000', '14,000', '5,000', '10,000', '29,000', '22,000',
       '27,000', '16,500', '43,500', '16,000', '4,000', '25,000',
       '21,800', '7,000', '32,000', '11,500', '17,000', '14,500',
       '28,500', '21,500', '0', '21,000', '25,500', '23,000', '18,000',
       '35,000', '29,500', '13,000', '13,900', '30,000', '9,000',
       '28,000', '24,700', '24,000', '18,500', '27,500', '1,000', '1,500',
       '19,000', '8,500', '31,500', '15,500', '23,500', '6,000', '20,500',
       '8,000', '26,500', '6,500', '19,500', '41,000', '11,800', '44,000',
       '24,500', '31,000', '3,000', '40,000', '22,500', '4,500', '38,500',
       '40,500', '26,000', '33,000', '7,500', '37,000', '12,500',
       '17,500', '22,951', '43,800', '34,000', '5,500', '42,000',
       '56,500', '36,000', '48,500', '43,752', '2,000', '35,500',
       '15,400', '10,500', '39,000', '38,000', '46,000', '41,500',
       '24,800', '2,500', '18,800', '32,500', '18,600', '38,200',
       '16,800', '34,500', '12,300', '50,000', '14,700', '60,000',
       '33,500', '47,000', '54,000', '14,400', '23,300', '53,000',
       '26,674', '16,300', '17,100', '23,200', '17,200', '18,200',
       '30,500', '13,200', '61,000', '31,800', '10,800', '57,000',
       '59,000', '52,000', '57,500', '43,000', '49,000', '17,670',
       '11,700', '19,650', '52,500', '56,000', '4,700', '33,690',
       '21,100', '22,900', '4,460', '14,200', '29,200', '27,300',
       '62,000', '25,800', '42,500', '12,700', '49,500', '51,000',
       '35,200', '17,800', '500', '13,600', '37,500', '37,700', '18,400',
       '21,300', '20,800', '1,200', '13,100', '15,600', '36,300',
       '15,867', '36,500', '34,100', '13,300', '21,332', '26,300',
       '20,700', '16,100', '14,100', '23,700', '21,700', '22,750',
       '335,000', '17,700', '17,481', '1,800', '14,300', '67,000',
       '15,700', '31,156', '2,400', '12,250', '4,290', '35,800', '12,400',
       '9,300', '30,723', '24,250', '3,660', '14,595', '44,500', '36,700',
       '12,800', '16,440', '10,300', '55,000', '27,200', '11,100',
       '20,524', '16,400', '39,500', '58,000', '33,200', '34,900',
       '46,500', '11,490', '12,900', '19,700', '19,200', '76,000',
       '63,000', '38,700', '16,200', '30,900', '80,000', '47,500',
       '8,700', '13,995', '48,000', '41,300', '37,200', '15,300',
       '11,400', '64,000', '65,000', '16,700', '25,700', '38,300',
       '13,700', '39,400', '25,850', '3,300', '59,216', '64,500',
       '14,800', '24,876', '21,600', '22,800', '68,000', '58,500',
       '62,500', '32,800', '13,800', '27,700', '15,990', '11,600',
       '45,500', '18,558', '24,200', '18,724', '26,700', '6,600',
       '28,800', '12,600', '7,700', '78,000', '10,200', '15,200', '7,058',
       '39,900', '17,651', '18,300', '69,000', '23,100', '26,570',
       '22,200', '14,725', '8,800', '10,600', '17,300', '71,000',
       '21,200', '29,800', '26,629', '29,100', '5,800', '3,800', '31,071',
       '25,400', '9,800', '41,400', '20,400', '33,600', '26,200',
       '11,900', '75,000', '138,000', '98,000', '31,400', '77,000',
       '63,500', '27,800', '29,300', '70,000', '26,800', '27,600'],
      dtype=object)

In [20]:
data['Expenses'].unique()

array(['30,000', '39,000', '22,500', '19,500', '40,000', '46,500',
       '15,000', '50,000', '34,000', '56,000', '45,000', '25,000',
       '49,000', '31,000', '23,000', '58,000', '28,000', '28,500',
       '41,500', '36,000', '46,000', '35,000', '26,000', '14,200',
       '53,000', '24,000', '43,000', '33,000', '25,500', '48,000',
       '18,000', '16,500', '80,000', '29,000', '24,500', '29,500',
       '60,000', '38,000', '27,000', '20,000', '67,000', '16,000',
       '32,000', '37,100', '20,500', '39,500', '19,000', '16,800',
       '22,000', '30,300', '75,000', '18,500', '32,500', '48,500',
       '68,000', '31,500', '26,500', '30,500', '64,000', '37,000',
       '27,500', '35,500', '65,000', '21,500', '47,000', '15,500',
       '85,000', '78,000', '54,000', '21,000', '34,500', '70,000',
       '42,000', '47,500', '33,700', '51,500', '36,500', '63,000',
       '11,500', '52,000', '17,000', '33,500', '44,000', '9,000',
       '44,500', '100,000', '8,000', '63,850', '90,000', '41,000',
       '38,500', '16,200', '31,600', '27,471', '71,000', '54,500',
       '55,000', '57,000', '51,000', '25,600', '14,500', '23,500',
       '14,000', '61,000', '37,500', '105,000', '13,000', '21,200',
       '13,500', '17,500', '60,500', '21,400', '66,000', '12,000',
       '59,000', '42,500', '20,200', '11,800', '65,500', '62,000',
       '52,500', '22,700', '64,500', '31,800', '45,600', '38,700',
       '41,700', '20,100', '72,000', '40,500', '26,900', '45,500',
       '62,500', '47,800', '53,500', '57,500', '74,000', '21,800',
       '11,000', '63,500', '73,000', '81,000', '41,800', '43,500',
       '12,500', '28,200', '28,700', '29,200', '10,500', '29,300',
       '77,000', '76,000', '50,500', '82,000', '69,000', '48,300',
       '20,350', '33,800', '34,100', '88,596', '38,900', '12,100',
       '22,540', '25,800', '30,800', '15,300', '13,900', '32,700',
       '79,000', '64,200', '17,300', '19,800', '22,200', '30,400',
       '22,300', '26,600', '114,000', '41,600', '23,700', '33,200',
       '78,500', '10,000', '95,000', '83,500', '17,900', '19,200',
       '73,500', '28,800', '72,500', '36,900', '13,100', '19,400',
       '83,000', '31,200', '20,700', '25,900', '24,700', '49,500',
       '18,700', '31,300', '53,900', '20,900', '71,700', '9,500',
       '38,300', '24,250', '45,800', '25,200', '55,500', '66,500',
       '39,700', '71,500', '24,300', '22,600', '37,750', '24,200',
       '45,100', '25,700', '25,750', '16,300', '21,900', '32,200',
       '23,300', '63,560', '32,800', '65,800', '28,900', '29,600',
       '30,812', '22,800', '84,500', '109,000', '31,100', '86,500',
       '72,100', '61,500', '27,300', '14,300', '24,100', '59,300',
       '44,700', '87,500', '36,005', '48,700', '96,500', '82,200',
       '98,000', '33,600', '27,200', '59,500', '33,300', '49,300',
       '11,700', '7,500', '87,000', '55,600', '39,600', '24,150',
       '26,100', '34,700', '56,500', '43,200', '38,400', '26,700',
       '58,500', '91,000', '45,240', '17,200', '27,600', '81,900',
       '24,800', '26,800', '17,031', '89,000', '20,800', '68,500',
       '52,200', '80,500', '42,600', '10,400', '14,400', '37,400',
       '4,000', '34,800', '24,600', '22,100', '46,507', '21,700',
       '47,400', '45,900', '32,100', '34,400', '55,055', '15,900',
       '15,800', '52,001', '41,200', '29,400', '37,700', '92,087',
       '15,200', '29,961', '31,900', '34,600', '14,600', '21,035',
       '34,200', '39,400', '36,100', '16,400', '40,300', '27,700',
       '38,100', '108,526', '18,800', '18,600', '155,000', '20,300',
       '44,300', '27,800', '77,300', '96,000', '86,000', '47,200',
       '23,800', '110,000', '56,069', '19,700', '19,900', '32,400',
       '88,000', '97,000', '27,484', '42,800', '23,400', '8,800',
       '46,800', '34,300', '82,500', '28,600'], dtype=object)

In [21]:
data['Activity'].unique()

array(['Renovation / Up-gradation', 'New Construction', 'Addition'],
      dtype=object)

In [22]:
data.sample(5)

,Region,Area,Branch,Branch Code,Gender,Age,Age Level,Education,Marital Status,house_ownership,...,Expenses,Saving Amount,Monthly_Saving,who_will_earn,Social behavior,Loan Amount,Inst Months,Inst Amnt,Activity,Tax
764,Kasur,Theeng More,Hajji Chand,6414,M,52,Older (46-Above),Illiterate,Married,Owned,...,"20,000","20,000",At_home,Self,Good,"450,000",60,"9,184",New Construction,Tax not paid
22383,Sheikhupura,Kamoke,Kamoke-2,1110,M,21,Young (19-29),Primary,Single,Owned,...,"35,000",0,No_saving,Self,Good,"800,000",60,"16,327",New Construction,Tax not paid
20061,FATA,Peshawar,Faqeerabad,14203,F,38,Middle Age (30-45),Matric,Married,Rented,...,"31,500","18,500",At_home,Self,Very_Good,"500,000",60,"10,204",New Construction,Tax paid
18450,Quetta,Khuzdar,Mastung,47501,M,38,Middle Age (30-45),Intermediate,Married,Rented,...,"15,000","28,000",At_home,Self,Good,"1,000,000",60,"20,408",New Construction,Tax not paid
27526,Bahawalnagar,Chishtian,Chishtian-2,208,M,55,Older (46-Above),Matric,Married,Owned,...,"36,000","9,000",At_home,Self,Very_Good,"400,000",60,"8,163",Renovation / Up-gradation,Tax paid

data['Gender'] = data['Gender'].map({'Male':1,'Female':0}).astype('int')
data['Married'] = data['Married'].map({'Yes':1,'No':0}).astype('int')
data['Education'] = data['Education'].map({'Graduate':1,'Not Graduate':0}).astype('int')
data['Self_Employed'] = data['Self_Employed'].map({'Yes':1,'No':0}).astype('int')
data['Property_Area'] = data['Property_Area'].map({'Rural':0,'Semiurban':2,'Urban':1}).astype('int')
data['Loan_Status'] = data['Loan_Status'].map({'Y':1,'N':0}).astype('int')

### Testing data set

In [23]:
import pandas as pd
from catboost import CatBoostClassifier

In [24]:
# Load the test CSV
test_data = pd.read_csv('test_data.csv')

In [25]:
# Show the first few rows
test_data.head()

,Region,Area,Branch,Branch Code,Gender,Age,Age Level,Education,Marital Status,house_ownership,...,Expenses,Saving Amount,Monthly_Saving,who_will_earn,Social behavior,Loan Amount,Inst Months,Inst Amnt,Activity,Tax
0,Nowshera,Swabi,Chota Lahore,13202,M,57,Older (46-Above),Matric,Married,Owned,...,"39,000","11,000",At_home,Other,Good,"500,000",60,"10,204",New Construction,Tax not paid
1,Abbottabad,Battagram,Shinkiari,12208,M,44,Middle Age (30-45),Middle,Married,Owned,...,"36,000","24,000",At_home,Self,Good,"800,000",60,"16,327",New Construction,Tax paid
2,Mianwali,Bhakkar,Panjgrain,3308,M,53,Older (46-Above),Primary,Married,Owned,...,"22,000","38,000",At_home,Self,Good,"250,000",60,"5,102",New Construction,Tax paid
3,Gilgit Baltistan,Gilgit,Gilgit,51101,M,46,Older (46-Above),Primary,Married,Rented,...,"27,500","22,500",Bank_saving,Self,Good,"500,000",60,"10,204",New Construction,Tax paid
4,Karachi,Korangi,Saudabad Malir,35108,M,40,Middle Age (30-45),Middle,Married,Owned,...,"30,000","20,000",At_home,Self,Good,"500,000",60,"10,204",New Construction,Tax paid

### Handling The missing Values

In [26]:
test_data.isnull().sum()

Region                  0
Area                    0
Branch                  0
Branch Code             0
Gender                  0
Age                     0
Age Level               0
Education               0
Marital Status          0
house_ownership         0
total_family_members    0
no_of_earning_hands     0
Source of Incom         0
Incom                   0
Expenses                0
Saving Amount           0
Monthly_Saving          0
who_will_earn           0
Social behavior         0
Loan Amount             0
Inst Months             0
Inst Amnt               0
Activity                0
Tax                     0
dtype: int64

In [27]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14257 entries, 0 to 14256
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Region                14257 non-null  object
 1   Area                  14257 non-null  object
 2   Branch                14257 non-null  object
 3   Branch Code           14257 non-null  int64
 4   Gender                14257 non-null  object
 5   Age                   14257 non-null  int64
 6   Age Level             14257 non-null  object
 7   Education             14257 non-null  object
 8   Marital Status        14257 non-null  object
 9   house_ownership       14257 non-null  object
 10  total_family_members  14257 non-null  int64
 11  no_of_earning_hands   14257 non-null  int64
 12  Source of Incom       14257 non-null  object
 13  Incom                 14257 non-null  object
 14  Expenses              14257 non-null  object
 15  Saving Amount         14257 non-null  object
 16  Monthly_Saving        14257 non-null  object
 17  who_will_earn         14257 non-null  object
 18  Social behavior       14257 non-null  object
 19  Loan Amount           14257 non-null  object
 20  Inst Months           14257 non-null  int64
 21  Inst Amnt             14257 non-null  object
 22  Activity              14257 non-null  object
 23  Tax                   14257 non-null  object
dtypes: int64(5), object(19)
memory usage: 2.6+ MB


### Store Feature Matrix In X And Response (Target) In Vector y

In [28]:
data['Tax '].unique()

array(['Tax paid', 'Tax not paid'], dtype=object)

In [29]:
print(test_data.columns)

Index(['Region', 'Area', 'Branch', 'Branch Code', 'Gender', 'Age', 'Age Level',
       'Education', 'Marital Status', 'house_ownership',
       'total_family_members', 'no_of_earning_hands', 'Source of Incom',
       'Incom', 'Expenses', 'Saving Amount', 'Monthly_Saving', 'who_will_earn',
       'Social behavior', 'Loan Amount', 'Inst Months', 'Inst Amnt',
       'Activity', 'Tax '],
      dtype='object')

In [30]:
X = data.drop('Tax ',axis=1)
print(X)

             Region          Area         Branch  Branch Code Gender  Age  \
0          Nowshera      Nowshera  Akora Khattak        14303      M   37
1             Kasur       Pattoki    Manga Mandi         1721      F   40
2          Mianwali      Quidabad      Chak No 8         3409      M   37
3      Bahawalnagar     Chishtian     Dahranwala          212      M   40
4            Multan  Rasheed Abad    Farooq Pura         2220      M   49
...             ...           ...            ...          ...    ...  ...
33261  Bahawalnagar  Bahawalnagar   Macleod Ganj          210      F   43
33262         Kasur   Theeng More         Landay         1823      F   31
33263        Attock    Fateh Jang         Qutbal         2817      M   28
33264          FATA        Bajaur           Khar         8101      M   37
33265       Sahiwal   Mian Channu    Chichawatni         2603      M   33

                Age Level     Education Marital Status house_ownership  ...  \
0      Middle Age (30-45)        Matric        Married           Owned  ...
1      Middle Age (30-45)    Illiterate        Married          Rented  ...
2      Middle Age (30-45)  Intermediate        Married           Owned  ...
3      Middle Age (30-45)    Illiterate        Married          Rented  ...
4        Older (46-Above)        Matric        Married           Owned  ...
...                   ...           ...            ...             ...  ...
33261  Middle Age (30-45)    Illiterate        Widower          Rented  ...
33262  Middle Age (30-45)       Masters        Married           Owned  ...
33263       Young (19-29)       Primary         Single          Rented  ...
33264  Middle Age (30-45)        Middle        Married           Owned  ...
33265  Middle Age (30-45)  Intermediate        Married          Rented  ...

        Incom  Expenses Saving Amount Monthly_Saving who_will_earn  \
0      50,000    30,000        20,000        At_home          Self
1      50,000    39,000        11,000      No_saving          Self
2      32,000    22,500         9,500        At_home          Self
3      23,000    19,500         3,500      No_saving         Other
4      50,000    30,000        20,000        At_home          Self
...       ...       ...           ...            ...           ...
33261  45,000    29,000        16,000        At_home          Self
33262  42,000    22,000        20,000        At_home          Self
33263  50,000    26,000        24,000        At_home          Self
33264  51,500    23,500        28,000    Bank_saving          Self
33265  48,000    26,000        22,000        At_home          Self

      Social behavior Loan Amount Inst Months Inst Amnt  \
0                Good     300,000          60     6,123
1                Good     500,000          60    10,204
2                Good     500,000          60    10,204
3                Good     350,000          60     7,143
4                Good     500,000          60    10,204
...               ...         ...         ...       ...
33261            Good     500,000          60    10,204
33262            Good     400,000          60     8,163
33263            Good     500,000          60    10,204
33264            Good     500,000          60    10,204
33265        Very_Bad     800,000          60    16,327

                        Activity
0      Renovation / Up-gradation
1               New Construction
2               New Construction
3               New Construction
4               New Construction
...                          ...
33261           New Construction
33262           New Construction
33263           New Construction
33264           New Construction
33265           New Construction

[33266 rows x 23 columns]

### Define Target and Features

In [31]:
target = 'Tax '
X = data.drop(columns=[target])
y = data[target]

In [32]:
print(X)

             Region          Area         Branch  Branch Code Gender  Age  \
0          Nowshera      Nowshera  Akora Khattak        14303      M   37
1             Kasur       Pattoki    Manga Mandi         1721      F   40
2          Mianwali      Quidabad      Chak No 8         3409      M   37
3      Bahawalnagar     Chishtian     Dahranwala          212      M   40
4            Multan  Rasheed Abad    Farooq Pura         2220      M   49
...             ...           ...            ...          ...    ...  ...
33261  Bahawalnagar  Bahawalnagar   Macleod Ganj          210      F   43
33262         Kasur   Theeng More         Landay         1823      F   31
33263        Attock    Fateh Jang         Qutbal         2817      M   28
33264          FATA        Bajaur           Khar         8101      M   37
33265       Sahiwal   Mian Channu    Chichawatni         2603      M   33

                Age Level     Education Marital Status house_ownership  ...  \
0      Middle Age (30-45)        Matric        Married           Owned  ...
1      Middle Age (30-45)    Illiterate        Married          Rented  ...
2      Middle Age (30-45)  Intermediate        Married           Owned  ...
3      Middle Age (30-45)    Illiterate        Married          Rented  ...
4        Older (46-Above)        Matric        Married           Owned  ...
...                   ...           ...            ...             ...  ...
33261  Middle Age (30-45)    Illiterate        Widower          Rented  ...
33262  Middle Age (30-45)       Masters        Married           Owned  ...
33263       Young (19-29)       Primary         Single          Rented  ...
33264  Middle Age (30-45)        Middle        Married           Owned  ...
33265  Middle Age (30-45)  Intermediate        Married          Rented  ...

        Incom  Expenses Saving Amount Monthly_Saving who_will_earn  \
0      50,000    30,000        20,000        At_home          Self
1      50,000    39,000        11,000      No_saving          Self
2      32,000    22,500         9,500        At_home          Self
3      23,000    19,500         3,500      No_saving         Other
4      50,000    30,000        20,000        At_home          Self
...       ...       ...           ...            ...           ...
33261  45,000    29,000        16,000        At_home          Self
33262  42,000    22,000        20,000        At_home          Self
33263  50,000    26,000        24,000        At_home          Self
33264  51,500    23,500        28,000    Bank_saving          Self
33265  48,000    26,000        22,000        At_home          Self

      Social behavior Loan Amount Inst Months Inst Amnt  \
0                Good     300,000          60     6,123
1                Good     500,000          60    10,204
2                Good     500,000          60    10,204
3                Good     350,000          60     7,143
4                Good     500,000          60    10,204
...               ...         ...         ...       ...
33261            Good     500,000          60    10,204
33262            Good     400,000          60     8,163
33263            Good     500,000          60    10,204
33264            Good     500,000          60    10,204
33265        Very_Bad     800,000          60    16,327

                        Activity
0      Renovation / Up-gradation
1               New Construction
2               New Construction
3               New Construction
4               New Construction
...                          ...
33261           New Construction
33262           New Construction
33263           New Construction
33264           New Construction
33265           New Construction

[33266 rows x 23 columns]

In [33]:
print(y)

0            Tax paid
1        Tax not paid
2            Tax paid
3            Tax paid
4            Tax paid
             ...
33261        Tax paid
33262    Tax not paid
33263    Tax not paid
33264        Tax paid
33265        Tax paid
Name: Tax , Length: 33266, dtype: object

### Identify Categorical Columns

In [34]:
categorical_cols = X.select_dtypes(include=['object']).columns.tolist()

In [35]:
print(f"Categorical Columns: {categorical_cols}")

Categorical Columns: ['Region', 'Area', 'Branch', 'Gender', 'Age Level', 'Education', 'Marital Status', 'house_ownership', 'Source of Incom', 'Incom', 'Expenses', 'Saving Amount', 'Monthly_Saving', 'who_will_earn', 'Social behavior', 'Loan Amount', 'Inst Amnt', 'Activity']

### Train-Test Split

In [36]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

### Initialize CatBoost for developing ML Model

In [37]:
model = CatBoostClassifier(
    iterations=500,
    depth=8,
    learning_rate=0.1,
    cat_features=categorical_cols,
    \
    verbose=100,
     eval_metric='F1',
    class_weights=[5, 1],
)

### Train the Model

In [38]:
model.fit(X_train, y_train)

0:	learn: 0.8206412	total: 189ms	remaining: 1m 34s
100:	learn: 0.9988109	total: 13.3s	remaining: 52.7s
200:	learn: 0.9990424	total: 25.3s	remaining: 37.7s
300:	learn: 0.9991746	total: 37s	remaining: 24.5s
400:	learn: 0.9991746	total: 49.3s	remaining: 12.2s
499:	learn: 0.9991746	total: 1m 1s	remaining: 0us

### Prediction the model

In [39]:
y_pred = model.predict(X_test)
print(y_pred)

['Tax not paid' 'Tax not paid' 'Tax paid' ... 'Tax not paid' 'Tax paid'
 'Tax not paid']

### Evaluation/ Classification Report & Confusion Matrix

In [40]:
print("\nClassification Report:")
print(classification_report(y_test, y_pred))

print("\nConfusion Matrix:")
print(confusion_matrix(y_test, y_pred))

Classification Report:
              precision    recall  f1-score   support

Tax not paid       1.00      1.00      1.00      2872
    Tax paid       1.00      1.00      1.00      3782

    accuracy                           1.00      6654
   macro avg       1.00      1.00      1.00      6654
weighted avg       1.00      1.00      1.00      6654


Confusion Matrix:
[[2872    0]
 [   8 3774]]

### After training the model

#### Save the model

In [41]:
model.save_model("PMLP_catboost_model7.1.1.cbm")

In [42]:
# Get unique region names and sort them
region_names = sorted(data['Region'].unique())

# Print each region with a serial number
for i, name in enumerate(region_names, start=1):
    print(f"{i}. {name}")

1. AJ&K
2. Abbottabad
3. Attock
4. Bahawalnagar
5. Bahawalpur
6. Chakwal
7. DG Khan
8. FATA
9. Faisalabad
10. Gilgit Baltistan
11. Gujranwala
12. Jhang
13. Jhelum
14. Karachi
15. Kasur
16. Kohat
17. Lahore
18. Mianwali
19. Multan
20. Nowshera
21. Quetta
22. Rawalpindi
23. Sahiwal
24. Sargodha
25. Sheikhupura
26. Sukkur

In [43]:
# Get unique region names and sort them
region_names = sorted(data['Area'].unique())

# Print each region with a serial number
for i, name in enumerate(region_names, start=1):
    print(f"{i}. {name}")

1. Abbaspur
2. Abbottabad
3. Alipur
4. Attock
5. Bahawalnagar
6. Bahawalpur
7. Bajaur
8. Bannu
9. Battagram
10. Bhakkar
11. Bhera
12. Burewala
13. Chakwal
14. Chiniot
15. Chishtian
16. Chitral
17. D.G Khan
18. D.I. Khan
19. Danyor
20. Data sahib
21. Diamer
22. Faisalabad
23. Fateh Jang
24. Gareebabad
25. Ghanche
26. Ghizer
27. Gilgit
28. Gujranwala
29. Gujrat
30. Gwadar
31. Hafizabad
32. Hunza Nagar
33. Hyderabad
34. Islamabad
35. Jacob Abad
36. Jahanian
37. Jand
38. Jhang
39. Jhelum
40. Jhelum Valley
41. Kala Bagh
42. Kallar Kahar
43. Kamoke
44. Karachi
45. Kasur
46. Khanpur
47. Khushab
48. Khuzdar
49. Khyber
50. Kohat
51. Korangi
52. Kot Abdul Malik
53. Kot Momin
54. Kotli
55. Kurrum
56. Lasbela
57. Layyah
58. Lodhran(Bahawalpur2)
59. Loralai
60. Madhulal
61. Mandi Bahauddin
62. Mansehra
63. Mardan
64. Mian Channu
65. Mianwali
66. Mingora
67. Mirpur
68. Mohmand
69. Multan
70. Muridke
71. Muzaffarabad
72. Muzaffargarh
73. Narowal
74. Nishtar
75. Nowshera
76. Nushki
77. Okara
78. Pattoki
79. Peer Phulai
80. Peshawar
81. Pichnand
82. Pind Dadan Khan
83. Quetta
84. Quidabad
85. Rahim yar Khan
86. Rajana
87. Rajanpur
88. Rangeel Pur
89. Rasheed Abad
90. Rawalakot
91. Rawalpindi
92. Rohri
93. Saddar
94. Sahiwal
95. Salamatpura
96. Samundari
97. Sangla Hill
98. Sargodha
99. Shangla
100. Shorkot
101. Sialkot
102. Skardu
103. Sodiwal
104. Sujawal
105. Sukkur
106. Swabi
107. Talagang
108. Tank
109. Taunsa Sharif
110. Taxila
111. Tench Bhata
112. Thatha
113. Theeng More
114. Thokar
115. Toba Tek Singh
116. Vehari

In [44]:
# Get unique region names and sort them
region_names = sorted(data['Branch'].unique())

# Print each region with a serial number
for i, name in enumerate(region_names, start=1):
    print(f"{i}. {name}")

1. 49 Tail(Agri)
2. 5 Chak Bara
3. 79 Adda (Agri)
4. 88 Phatak
5. Abbaspur
6. Abbottabad
7. Abbottabad-2
8. Abdul Hakeem
9. Adda Dad Fatiana
10. Adhi kot
11. Adhwal
12. Adyala Road
13. Ahmad Pur Lamma
14. Ahmadpur Sial
15. Ahmedpur Sharqia-1
16. Air Port
17. Aka Khel
18. Akbarpura
19. Akhtar Colony
20. Akora Khattak
21. Alam Chowk
22. Ali Abad
23. Ali Pur Chatha
24. Ali Pur-1
25. Ali Pur-2
26. Ali Town
27. Allai
28. Alpuri
29. Amar Pura
30. Arifwala
31. Arya Mohallah
32. Arzani Pur
33. Astor
34. Athara Hazari
35. Athmuqam
36. Attock Agri
37. Attock-1
38. Attock-2
39. Attock-4
40. Attock-5
41. Ayun
42. Babar Mela
43. Babu Wala
44. Badami Bagh
45. Badar Colony
46. Badar Colony-2
47. Badiana
48. Badin
49. Baffa
50. Bagan
51. Bagh
52. Baghbanpura
53. Bagrian
54. Bahawalnagar-1
55. Bahawalnagar-2
56. Bahawalnagar-3
57. Bahawalpur Agriculture
58. Bahawalpur Bypass
59. Bahawalpur-1
60. Bahawalpur-2
61. Bahawalpur-3
62. Baka Khel
63. Bakhshu Pull
64. Balakot
65. Baldia Town
66. Balkasar
67. Baloch
68. Bandian Wala Pul
69. Bank Colony Chakri Road
70. Bannu-1
71. Bannu-2
72. Bara
73. Bara-2
74. Bari Imam
75. Barikot
76. Barkolti
77. Barnala
78. Barnala (Agri)
79. Barthi
80. Baseen
81. Baseera
82. Basir Pur
83. Basti
84. Basti Khudadad
85. Battagram
86. Bawa Chak
87. Bedian Road
88. Begum kot
89. Behal
90. Bela
91. Besham
92. Bhagwal
93. Bhakkar-1
94. Bhakkar-2
95. Bhalwal-1
96. Bhalwal-2
97. Bhard Wall
98. Bhaun
99. Bhawana
100. Bheen
101. Bhera
102. Bhimber
103. Bhittai Colony
104. Bhoa Hassan
105. Bhubhar
106. Bijaar
107. Bili Tang
108. Booni
109. Bosal
110. Brewery Road
111. Bucheki
112. Bucheki-2
113. Budhla Sant
114. Bunga Hayat
115. Burewala
116. Burewala-2
117. Burj Attari
118. Canal Road Faisalabad
119. Chak 105
120. Chak 98 Fateh
121. Chak Beli Khan
122. Chak Bhoun/Balkassar
123. Chak Chatha (Agri)
124. Chak Jalal Din
125. Chak Jhumra
126. Chak Jhumra (Agriculture)
127. Chak Madressa
128. Chak No 8
129. Chak No.29
130. Chakar
131. Chakdara
132. Chaklala
133. Chakri
134. Chakswari
135. Chakwal
136. Chalt
137. Chanderay Road
138. Changa Manga
139. Charhoi
140. Charsadda
141. Chatorkhand
142. Chehla Bandi
143. Chichawatni
144. Chilas
145. Chiniot-2
146. Chishtian-1
147. Chishtian-2
148. Chishtian-3
149. Chitral
150. Choa Saidan Shah
151. Chot Dheeran
152. Chota Lahore
153. Chota Manawala
154. Chouhar Jamali
155. Chowk Azam
156. Chowk Azam Rural
157. Chowk Karamdad Qureshi
158. Chowk Kumharan Wala
159. Chowk Pindori
160. Chowki Bhagat
161. Chung
162. Chungi # 14 Multan-5
163. Chunian
164. College Road Jhang
165. D.G Khan-1
166. D.G Khan-2
167. D.I. Khan-2
168. Dadyal
169. Dahab
170. Dahranwala
171. Dajal
172. Dalelpur
173. Danda Shah Bilawal
174. Danyor
175. Darapur
176. Darlian Jattan
177. Darman
178. Daroghawala
179. Darro
180. Darya Khan
181. Daska
182. Data Sahib
183. Daulat Nagar
184. Dehli Gate
185. Depalpur
186. Depalpur Agri
187. Depalpur-2
188. Dera Bakha
189. Dhamthal
190. Dhanote
191. Dhar Bazar
192. Dharyala Jalap
193. Dheri Hasan Abad
194. Dhirkot
195. Dhok Amb
196. Dhoke Ratta
197. Dhori Adda
198. Dhudhi Wala
199. Dhudial
200. Dhurnal
201. Digri
202. Dijkot
203. Dina
204. Dinga
205. Dir
206. Domail
207. Domail (Bannu)
208. Drosh
209. Duki
210. Dunga Bunga
211. Dunyapur
212. Emit
213. F.R D.I. Khan
214. Factory Area
215. Faqeerabad
216. Faqir Wali
217. Farooq Pura
218. Farooqa (Agri)
219. Farooqabad
220. Fateh Jang
221. Fateh Jang-2
222. Fateh Pur
223. Fateh Pur Rural
224. Fazilpur
225. Feroze Wattwan
226. Ferozewala
227. Firdous Market
228. Fort Abas
229. Gaggo Mandi
230. Gahkuch
231. Gamba
232. Garh More
233. Garha More
234. Garhi Dupatta
235. Garhi Habibullah
236. Garhi kapura
237. Ghakhar Mandi
238. Gharibabad
239. Gharo
240. Ghawari
241. Ghazi
242. Ghazi Abad
243. Ghotaro
244. Ghotki
245. Ghulam Jan Market
246. Ghulam Muhammad Abad
247. Ghulam Muhammad Wala
248. Ghurki Hospital
249. Gilgit
250. Gojra
251. Gojra-Mandi
252. Gondal
253. Green Town
254. Gujranwala-1
255. Gujranwala-2
256. Gujrat-1
257. Gulmit
258. Gulshan Iqbal
259. Gulyana
260. Gupis
261. Gwadar
262. Habibabad
263. Hafizabad
264. Haider Chowk
265. Haji Camp
266. Hajira
267. Hajji Chand
268. Hall Road
269. Harappa
270. Hardo Muhammad Ky
271. Hari chand
272. Harighel
273. Haripur
274. Hariya
275. Harnoli
276. Haroonabad-1
277. Haroonabad-2
278. Harya wala
279. Hasilpur
280. Hasilpur-2
281. Hassan Abdal
282. Hassan Abdal(Sultanpur)
283. Hathi Wind
284. Hattian Bala
285. Haveli
286. Haveli Bahadur Shah
287. Haveli Lakha
288. Havelian
289. Hazro
290. Head Faqirian
291. Head office Branch
292. Hub
293. Hujjan
294. Hujra Shah Muqeem
295. Hujra Shah Muqeem-2
296. Hyderabad
297. Ikhlas
298. Inayat Kalay
299. Iqbal Abad
300. Isa Khel
301. Islam Nagar
302. Islamabad-1
303. Islamabad-2 (Golra)
304. Jabbi
305. Jacob Abad
306. Jaffar
307. Jaglot
308. Jahan Khan Agri
309. Jahanian
310. Jajjal
311. Jalal Pur Pir Wala
312. Jalalpur Jattan
313. Jalalpur Sharif
314. Jamke Cheema
315. Jampur-1
316. Jampur-2
317. Jamrud
318. Jand-1
319. Jand-2
320. Jaranwala
321. Jati
322. Jatlan
323. Jatoi
324. Jattatar
325. Jauharabad
326. Jehangira
327. Jhal Jaranwala
328. Jhang Bahtar
329. Jhang Road(FSD)
330. Jhang Saddar
331. Jhang Village
332. Jhang city
333. Jhang-1(Bhakkar Road)
334. Jhang-2(Satellite town)
335. Jhari Kas
336. Jhatla / Chinji
337. Jhatta Hathial
338. Jhawarian
339. Jhelum
340. Jhelum-2
341. Jhugian Nagra
342. Jodia Bazar
343. Jutial
344. Kabirwala
345. Kacha Khuh
346. Kadhar
347. Kahna Nau
348. Kahna Nau-2
349. Kahror Pakka
350. Kahuta-1
351. Kala Gujran
352. Kala Shah Kaku
353. Kalabagh
354. Kalaske
355. Kalaya
356. Kallar Kahar
357. Kallur Kot
358. Kamalia
359. Kamalpur Musa
360. Kamar Mushani
361. Kameer Wala
362. Kamoke-1
363. Kamoke-2
364. Kamoke-Agri
365. Kamra
366. Kanganpur
367. Kangniwala
368. Kareem Pura
369. Karimabad
370. Karor Lal Esan
371. Karora
372. Kartarpur
373. Karyala
374. Kassowal
375. Kasur-1
376. Kasur-2
377. Kasur-3
378. Kasur-4
379. Katlang
380. Kazmi Chowk
381. Khai Gala
382. Khairpur Tamiwali
383. Khairpur-1
384. Khairpur-2
385. Khan Pur (Agri)
386. Khan Pur-1
387. Khanewal
388. Khangarh
389. Khanpur
390. Khanpur Bagga Sher
391. Khanpur Road (Taxila)
392. Khanqah Sharif
393. Khaplu
394. Khar
395. Kharian
396. Khaur
397. Kheshgi
398. Khewra
399. Khiali bypass
400. Khidar Wala (Agri)
401. Khudian
402. Khuiratta
403. Khunda
404. Khurian Wala
405. Khushab
406. Khwazakhela
407. Killa Saifullah
408. Kinjwani
409. Kohat
410. Kot Abdul Malik
411. Kot Abdul Malik-2
412. Kot Addu
413. Kot Chajji
414. Kot Chandna
415. Kot Chutta
416. Kot Khawaja Saeed
417. Kot Mithan-Rural
418. Kot Mithan-Urban
419. Kot Momin
420. Kot Radha Kishan-1
421. Kot Radha Kishan-2
422. Kot Roshan Din
423. Kot Samaba
424. Kot Sarang
425. Kot Sultan
426. Kotha Kalan
427. Kotla Jam
428. Kotla Mughlan
429. Kotli
430. Kotli Peer Abdul Rehman
431. Kundian
432. Kunjah
433. Kunri
434. Kuthiala Sheikhan
435. Kuza Banda
436. Lak Mor
437. Lakki Marwat
438. Lala Zaar
439. Lalamusa
440. Lalian
441. Landay
442. Landhi Town
443. Landi Kotal-2
444. Landi kotal
445. Lawa
446. Lawrencepur
447. Layyah
448. Layyah-2
449. Leather
450. Leepa
451. Liaqat Pur
452. Liaqat Pur Agri
453. Lodhran
454. Lodhran (Agri)
455. Loralai
456. Loralai-2
457. Lyari
458. Machiwal
459. Macleod Ganj
460. Madhu Lal Hussain
461. Madyan
462. Mahar Sharif
463. Maila
464. Mailsi
465. Makhdoom Rashid
466. Makkuana
467. Malakwal
468. Malhowali
469. Malka Hans
470. Mamu Kanjan
471. Mana Ahamadani
472. Mana Wala
473. Manawan
474. Mandi Bahauddin
475. Mandi Bahauddin-2
476. Mandi Bahauddin-3
477. Mandi Faizabad
478. Mandi Gundhab
479. Mandi Usman Wala
480. Mang
481. Manga Mandi
482. Mangowal
483. Mangwal
484. Mankera
485. Mansehra-1
486. Mansehra-2
487. Mansehra-3
488. Mardan
489. Mastung
490. Matli
491. Maula Pur
492. Mehdi Abad
493. Mian Channu
494. Miani
495. Miani (Kallar Kahar)
496. Mianwali Bangla
497. Mianwali-1
498. Mianwali-2
499. Midh Ranjha
500. Minchinabad
501. Minchinabad-2
502. Mingora
503. Minhala
504. Mirpur
505. Mirpur Bathoro
506. Mirpur Khas
507. Mirpur Mathelo
508. Misrial
509. Mitha Tiwana
510. Mithi
511. Mithial
512. Moazzam Abad
513. Mohsinwal
514. Mooch
515. More Khunda
516. More Khunda-2
517. Mosa Khail
518. Mouza Bagh
519. Muhammad Pur
520. Mulhal mughlan
521. Mullan Mansoor
522. Multan Chungi
523. Multan Khurd
524. Multan-1
525. Multan-2
526. Multan-3
527. Mumtazabad
528. Mureed Wala
529. Muridke
530. Murree
531. Murtazabad
532. Muslim Bagh
533. Mustafa Abad
534. Muzafarabad- Multan
535. Muzaffarabad
536. Muzaffarabad-2
537. Muzaffargarh
538. Nagar
539. Nai Khanqah
540. Nain Sukh
541. Nakyal
542. Nankana Sahib
543. Nankana-2
544. Nara
545. Narang Mandi
546. Narowal
547. Naseerabad
548. Nathia Gali
549. Nawabpur
550. Nawabpura
551. Nawagai
552. Nawan Killi
553. Naya Lahore
554. New Karachi
555. Nihang
556. Nishat Abad
557. Nokhar
558. Nomal
559. Noor Kot
560. Notak
561. Nothia
562. Nowshera
563. Nowshera Kalan
564. Nurpur naher
565. Oghi
566. Okara
567. Okara-2
568. Okara-3
569. Orangi Town
570. Oshikhandass
571. Pabbi
572. Paharh Pur
573. Pai khel
574. Painsra
575. Painsra (Agri)
576. Paki Shah Mardan
577. Pakpattan
578. Pakpattan-2
579. Pallandri
580. Paniola
581. Panjgrain
582. Pano Aqil
583. Par Hoti
584. Parachinar
585. Pariyal
586. Pashut
587. Pasrur-1
588. Pasrur-2
589. Patikka
590. Pattoki-1
591. Pattoki-2
592. Peer Phulai
593. Peoples Colony
594. Perro Khail
595. Peshawar
596. Phalia
597. Phalore
598. Phularwan
599. Pichnand
600. Pinanwal
601. Pind Bhagwal
602. Pind Dadan Khan
603. Pindi Bhattian
604. Pindi Saidpur
605. Pindigheb
606. Piplan
607. Pir Mahal
608. Pishin
609. Pul Wasal Chungi # 1
610. Punwa
611. Qaboola Sharif
612. Qaddafi Chowk
613. Qadirpur Ran
614. Qaida Abad
615. Qambar Khail
616. Qasba Gujrat
617. Qasim Bela
618. Qasim Pur (BCG Chowk)
619. Qazafi
620. Qila Ahmed Abad
621. Qila Didar Singh
622. Quetta
623. Qutbal
624. Rahgan
625. Rahim Yar Khan
626. Rahim Yar Khan-2
627. Rahim Yar Khan-4
628. Rahwali Cantt
629. Raiwind
630. Raja Bazar
631. Raja Jang
632. Raja Pur
633. Rajana
634. Rajanpur
635. Rajanpur-2
636. Rajjar
637. Rana Town
638. Rangeel Pur
639. Ranial
640. Ranipur
641. Rasheed Abad
642. Rati Pindi
643. Rawalakot
644. Raza Abad
645. Renala Khurd
646. Risalpur
647. Rodu Sultan
648. Rohilanwali
649. Rohri
650. Sadar Cantt
651. Sadda
652. Saddar Town
653. Saddique Abad
654. Sadhar
655. Sadhar (Agri)
656. Sadhoke
657. Sadiq Abad-1
658. Sadiq Abad-2
659. Sadiqabad-3
660. Safdar Abad
661. Safi
662. Saghar
663. Sahiwal (Distt Sargodha)
664. Sahiwal-1
665. Sahiwal-2
666. Salamatpura
667. Samahni
668. Samanabad
669. Sambrial
670. Samundri
671. SamundriÂ Road(FSD)
672. Sanawan
673. Sanda
674. Sandhilianwali
675. Sanghoi
676. Sangla Hill
677. Sarai Alamgir
678. Sarai Sala
679. Sardar Market
680. Sardheri
681. Sargodha-1
682. Sargodha-2
683. Sargodha-3
684. Sarsawa
685. Saryab Road
686. Sateen
687. Satellite Town
688. Satellite Town (Quetta)
689. Saudabad Malir
690. Sauwal
691. Sehgal Abad
692. Sehnsa
693. Shabqadar
694. Shah Jamal
695. Shah Kot
696. Shahdara
697. Shahdara-2
698. Shaher Sultan
699. Shahpur
700. Shahpur-2
701. Shakargarh
702. Sham Kot
703. Sharda
704. Sharif Pura
705. Sharqpur
706. Sheikhupura
707. Sher Shah
708. Sher Shah Colony
709. Shergarh
710. Shewa
711. Shigar
712. Shikyote
713. Shinkiari
714. Shireen Jinnah
715. Shorkot
716. Shorkot Cantt
717. Shuja Abad
718. Sialkot
719. Sialkot-2
720. Sibi
721. Siddique Abad Phatak
722. Sikander Pura
723. Sillanwali
724. Sillanwali (Agri)
725. Singul
726. Skardu
727. Skardu-2
728. Sodiwal Samanabad
729. Sujawal
730. Sukkur-1
731. Sukkur-2
732. Susan Road
733. Sust
734. Swabi
735. Takht Bhai
736. Talagang
737. Talagang-2
738. Talwandi
739. Tamman
740. Tanda
741. Tandlianwala
742. Tando Allah yar
743. Tando Jan Muhammad
744. Tando Muhammad Khan
745. Tangi
746. Tank
747. Tank-2
748. Tarar Khal
749. Tarinda Saway Khan
750. Tariq Abad
751. Taunsa Sharif
752. Taunsa Sharif-2
753. Taxila
754. Taxila-2
755. Tench Bhata
756. Thagas
757. Thakot
758. Thana
759. Thatha
760. Thatha Khalil
761. Theeng More-2
762. Theing Mor
763. Thokar Niaz Baig
764. Thol
765. Thorar
766. Tibba Badar Sher
767. Tibba Sultan Pur
768. Timergara
769. Toba Tek Singh
770. Tobah
771. Topi
772. Tordher
773. Toru
774. Township
775. Trag
776. Trati
777. Trinda Sway Khan-2
778. Tulamba
779. Uch Sharif
780. Uch Sharif-2
781. Ugoke
782. Umerkot
783. Uthal
784. Vehari
785. Vehari-2
786. Walton
787. Wan Bhachran (Agri)
788. Wan Miana
789. Wanhar
790. Warburton
791. Wassan pura
792. Wazirabad
793. Yaka Ghund
794. Yasin
795. Yateem Khana
796. Yazman Mandi
797. Young Pur
798. Zafar Abad
799. Zafarwal
800. Zahir Pir
801. Zaida
802. Zakariya Town
803. Zhob

In [45]:
# Get unique region names and sort them
region_names = sorted(data['Inst Amnt'].unique())

# Print each region with a serial number
for i, name in enumerate(region_names, start=1):
    print(f"{i}. {name}")

1. 10,000
2. 10,017
3. 10,025
4. 10,082
5. 10,177
6. 10,194
7. 10,204
8. 10,322
9. 10,401
10. 10,813
11. 11,032
12. 11,059
13. 11,123
14. 11,130
15. 11,225
16. 11,352
17. 11,796
18. 11,977
19. 12,245
20. 12,288
21. 12,608
22. 12,857
23. 12,976
24. 13,061
25. 13,265
26. 13,623
27. 13,674
28. 13,776
29. 13,878
30. 13,903
31. 13,980
32. 14,184
33. 14,286
34. 14,490
35. 14,745
36. 14,830
37. 15,306
38. 15,760
39. 16,327
40. 16,531
41. 17,347
42. 17,857
43. 18,167
44. 18,368
45. 18,538
46. 18,912
47. 19,286
48. 19,660
49. 2,449
50. 2,551
51. 20,408
52. 21,769
53. 22,704
54. 3,061
55. 3,152
56. 3,571
57. 3,686
58. 4,082
59. 4,133
60. 4,184
61. 4,490
62. 4,541
63. 4,592
64. 4,694
65. 4,728
66. 4,857
67. 4,898
68. 4,915
69. 5,000
70. 5,102
71. 5,510
72. 5,561
73. 5,612
74. 5,676
75. 5,714
76. 5,786
77. 5,816
78. 6,020
79. 6,082
80. 6,123
81. 6,144
82. 6,304
83. 6,531
84. 6,678
85. 6,735
86. 6,811
87. 6,888
88. 6,898
89. 6,939
90. 7,143
91. 7,347
92. 7,373
93. 7,415
94. 7,551
95. 7,653
96. 7,755
97. 7,786
98. 7,791
99. 7,857
100. 7,880
101. 7,959
102. 7,987
103. 8,061
104. 8,163
105. 8,265
106. 8,342
107. 8,356
108. 8,367
109. 8,469
110. 8,572
111. 8,601
112. 8,602
113. 8,612
114. 8,674
115. 8,776
116. 8,825
117. 8,847
118. 8,857
119. 8,867
120. 8,878
121. 8,888
122. 8,904
123. 8,939
124. 8,980
125. 8,994
126. 9,082
127. 9,143
128. 9,184
129. 9,216
130. 9,269
131. 9,388
132. 9,456
133. 9,490
134. 9,592
135. 9,630
136. 9,643
137. 9,694
138. 9,714
139. 9,722
140. 9,727
141. 9,732
142. 9,771
143. 9,796
144. 9,830
145. 9,898

In [46]:
from sklearn.metrics import confusion_matrix

# Get predicted values
y_pred = model.predict(X_test)

# Create confusion matrix
cm = confusion_matrix(y_test, y_pred)

# Get misclassified rows
wrong_preds = X_test[(y_test == 1) & (y_pred == 0)]  # Tax Paid predicted as Not Paid
print(wrong_preds)

Empty DataFrame
Columns: [Region, Area, Branch, Branch Code, Gender, Age, Age Level, Education, Marital Status, house_ownership, total_family_members, no_of_earning_hands, Source of Incom, Incom, Expenses, Saving Amount, Monthly_Saving, who_will_earn, Social behavior, Loan Amount, Inst Months, Inst Amnt, Activity]
Index: []

[0 rows x 23 columns]

In [47]:
print(cm)

[[2872    0]
 [   8 3774]]

In [48]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

# Encode target to 0/1
data = data.copy()
le = LabelEncoder()
data['Tax_encoded'] = le.fit_transform(data['Tax '])  # 'Tax paid' = 1, 'Tax not paid' = 0

# Encode categorical columns
data_encoded = data.drop(columns=['Tax '])
data_encoded = pd.get_dummies(data_encoded, drop_first=True)

# Correlation with the target
correlations = data_encoded.corrwith(data['Tax_encoded']).abs().sort_values(ascending=False)
print(correlations.head(10))  # Top 10 most correlated features

Tax_encoded            1.000000
Area_Theeng More       0.385546
Region_Kasur           0.383746
Region_Quetta          0.211990
Branch Code            0.187468
Area_Quetta            0.177121
Area_Jhelum Valley     0.161462
Branch_Hajji Chand     0.151454
who_will_earn_Other    0.150127
Region_Sahiwal         0.148568
dtype: float64